@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.css";

.logo {
  display: flex;
  align-items: center;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 100px 40px;
  width: 100%;
  height: 100%;
  background-color: rgb(118, 247, 251);
}

.logo__img {
  max-width: 75px;
}

.wordmark {
  font-family: "chewy", serif;
  font-size: 30px;
  display: flex;
  padding: 15px 0 0 10px;
}

.hamburgerMenu {
  display: none !important;
}

.nav__link--list {
  display: flex;
}

.nav__links {
  font-size: 18px;
  padding-top: 43px;
  max-width: 100%;
  font-family: "sour gummy", sans-serif;
}

.nav-link {
  margin: 10px;
  cursor: pointer;
}

.nav-link__primary {
  font-family: "sour gummy", sans-serif;
  font-size: 20px;
  margin: 7px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 9999px;
  padding: 0 15px 0 15px;
}

.nav-link__primary:hover {
  color: white;
  background-color: #e11584;
  cursor: pointer;
  border-radius: 9999px;
  padding: 0 15px 0 15px;
}

@media only screen and (max-width: 768px) {
  .nav__container {
    padding: 20px 0px 100px 30px;
  }
}

@media only screen and (max-width: 480px) {
  .nav__links {
    display: none !important;
  }

  .logo__img {
    max-width: 50px;
    margin-left: 15px;
  }

  .hamburgerMenu {
    display: block !important;
    position: absolute;
    margin-left: 335px;
    margin-top: 17px;
    border-radius: 9999px;
    border: 0;
    background-color: transparent;
  }

  .pawIconModal {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
