.modalContainer {
  margin-left: 330px;
}

.navLinkModal {
  font-family: "sour gummy", sans-serif;
  font-size: 20px;
  list-style: none;
}

@media only screen and (max-width: 480px) {
  .modalContainer {
    margin-left: 10px;
  }

  .navModalList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navLinkModal {
    font-size: 30px;
  }
}
