#dog-range {
  max-width: 300px;
}

.containerInput {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-label {
  font-family: "sour gummy", sans-serif;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
