#dog-range {
  max-width: 300px;
}

.containerInput {
  display: flex;
  align-items: center;
  justify-content: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-label {
  font-family: "sour gummy", sans-serif;
}
